<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Kanji Review</title>
		<meta charset="utf-8">
		<style type="text/css">
			body {
				font-family: Arial;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
			
			a {
				color: black;
				text-decoration: none;
			}
			
			a:hover {
				color: rgb(0,0,144);
			}

			.containing-element .ui-slider-switch {
				width: 12em;
				margin-right: 0 /* hack, otherwise it would introduce a 34px margin-right */
			}
			
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	</head>
	<body>
        <script type="text/javascript">
		
			var min_value = {{ initial_min_value }};
			var max_value = {{ initial_max_value }};
			var current_pack = [];
			
			$(document).ready(function() {
			
				// initial values
				$('#kanji-from').html(min_value);
				$('#kanji-to').html(max_value);
				
				$("#next-show-btn").click(function(event) { onButtonClicked(); });
				
				$('#loaded').html(0);


				$('#flip-min').bind("change", function(event, ui) {
				
					var reviewModeOn = this.value == "on";

					//$('#next-show-btn').html(checked ? 'Show' : 'Next');
					setComponentsVisible(!reviewModeOn);
				});

				$('#flip-min').val("off").slider("refresh");
				
				// get the first data
				requestRandomKanjiPack(true);
			});
			
			function requestRandomKanjiPack(showOnReceived) {
			
				// make the call
				$.getJSON('/kanji_review/random_kanji', { 'amount' : 15},
					function (data) {
						// add the received elements
						current_pack.push.apply(current_pack, data);
						if (showOnReceived)
							showNextKanji();
					})
				.error(function () { alert("Error: the call to 'random_kanji' failed."); });
			}

			function issueSetKanjiMinMaxValues(min, max, callback) {
					$.ajax({
						url: '/kanji_review/set_kanji_min_max_values',
						data: { min_index : min, max_index : max }
					}).done( function (msg) {
						// discard current kanji pack
						current_pack = [];

						// reset the count
						$('#loaded').html(0);

						min_value = min;
						max_value = max;

						$('#kanji-from').html(min_value);
						$('#kanji-to').html(max_value);

						callback();
					});
			}

			function showNextKanji() {

				if (current_pack.length != 0) {
					// set to invisible in case Review Mode is On
					var reviewModeOn = $('#flip-min').val() == "on";
					setComponentsVisible(!reviewModeOn);
					
					kanjiData = current_pack.splice(0, 1)[0];
					showKanji(kanjiData);

					var loaded = parseInt( $('#loaded').html() );
					$('#loaded').html(loaded + 1);

					if (current_pack.length < 5) {
						requestRandomKanjiPack();
					}
				} else {
					// this happens only if the current_pack was
					// deleted because of changing the kanji range
					requestRandomKanjiPack(true);
				}
			}

			function setComponentsVisible(value) {
			
				var setValue = value ? 1 : 0;
				
				$('#index').css('opacity', setValue);
				$('#meaning').css('opacity', setValue);
			}
			
			function onButtonClicked() {
			
				var reviewModeOn = $('#flip-min').val() == "on";
				if ( reviewModeOn ) {
					if ( $('#meaning').css('opacity') == 0 ) {
						$('#meaning').fadeTo('fast', 1);
						$('#index').fadeTo('fast', 1);
						$('#next-show-btn').html('Next');
					} else {
						showNextKanji();	
					}
				} else {
					showNextKanji();
				}
			}
			
			function showKanji(jsonData) {
				
				$('#kanji').html( jsonData['kanji'] );
				$('#meaning').html( jsonData['meaning'] );
				$('#index').html( jsonData['index'] );
			}
			
		</script>
		
		<div data-role="page" class="main-content" style="width: 100%; margin-top: 20px; margin-left: auto; margin-right: auto">
			<div class="inner-frame" style="margin: 15px; margin-top: 10px; text-align: center; min-height: 220px">
				<div id="index" style="font-size: 18px; margin-top: 15px; margin-bottom: 15px; color: gray">
					INDEX
				</div>
				<div id="kanji" style="font-family: serif; font-size: 100px">
					KANJI
				</div>
				<div id="meaning" style="font-size: 24px; margin-top: 15px; color: rgb(144,0,0)">
					MEANING
				</div>
			</div>
			<div style="text-align: center; margin-top: 10px">
				<button id="next-show-btn" type="button" data-inline="true">Show / Next</button>
				<div style="margin-top: 15px; font-size: 12px; margin-bottom: 23px">
					KANJI RANGE: <span id="kanji-from">FROM</span> to <span id="kanji-to">TO</span>
					&nbsp;<span style="font-size: 16px">|</span>&nbsp;
					KANJIS SHOWN: <span id="loaded"></span>
				</div>
				<div class="containing-element">
					<select name="slider" id="flip-min" data-role="slider">
						<option value="off">Review Mode OFF</option>
						<option value="on">Review Mode ON</option>
					</select>
				</div>
				<a href="../static/dg_kanji_range.html" data-role="button" data-inline="true" data-rel="dialog">Change Kanji Range</a> 
			</div>
		</div>
	</body>
</html>
